:root{
    --cor-1: #9a6d88;
    --cor-2: #2C3E50;
    --cor-3: #f1e5ed;
    --cor-3-borda: #f1e5ed52;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--cor-2);
    border-radius: 10px;
}

::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 10px;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    padding: 5%;
    justify-content: center;
    align-items: center;
    background-color: rgb(218, 218, 218) !important;
}

h1{
    font-size: 1.5em !important;
}


#page-user{
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 80%;
    height: 80vh;
    position: relative;
    overflow-y: auto;
    display: flex;
}

#menu{
    position: absolute;
    top: 0;
    bottom: 0;
    width: 300px;
    padding: 20px 10px 10px 10px;
    height: 100%;
    text-align: center;
    box-sizing: border-box;
    overflow-y: auto;
    overflow-x: hidden;
    transition: all 0.3s ease;
}

#img-logo{
    margin: auto;
    width: 60%;
    height: auto;
}

#user-menu{
    display: flex;
        justify-content: space-evenly;
    align-items: center;
}

h3{
    font-family: 'Arial', sans-serif;
    color: #333;
    text-align: center;
    font-size: 1em;
    letter-spacing: 1px; 
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); 
    transition: color 0.3s ease, transform 0.3s ease; 
}

#newListName{
    width: 80%;
}

#add-task-form{
    background-color: var(--cor3);
    display: none;
    padding: 10px;
    margin-bottom: 20px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

#add-list-form{
    margin: auto;
    padding: 10px;
    margin-top: 10px;
    padding-bottom: 10px;
    align-items: center;
    text-align: center;
    box-shadow: rgba(134, 28, 160, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    border-radius: 5px;
}


.form-add-task{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.form-add-task *{
    width: 29%;
}

#menu-task{
    /* display: flex; */
    /* justify-content: space-evenly; */
    padding: 10px;
    margin-top: 20px;
    box-shadow: rgba(133, 29, 110, 0.15) 1.95px 1.95px 2.6px;
}

#div-list div,
#div-cont div{
    text-align: start;
    margin-bottom: 10px;
}

#div-cont{
    display: none;
}


#main{
    margin-left: 300px;
    padding: 20px;
    background-color: var(--cor-3);
    overflow: auto;
    width: 100%;
}


.list-item{
    border-radius: 8px;
    padding: 10px;
    margin-bottom: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.task-item{
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}








.highlighted{
    font-weight: bold;
    color: var(--cor-1);
}

.highlighted-1{
    margin-left: 10px;
    color: var(--cor-2);
}


#no-list{
    font-size: 40px;
    color: gray;
    font-weight: bold;
}

.priority-bubble {
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 50%; 
    margin-right: 10px; 
}

.baixa {
    background-color: rgb(0, 0, 255); 
}

.media, .média {
    background-color: rgb(255, 255, 0); 
}

.alta {
    background-color: rgb(255, 0, 0);
}

input, select, textarea{
    padding: 8px 0;
    padding-left: 20px;
    font-size: 16px;
    border: 2px solid #ddd;
    border-radius: 25px;
    transition: all 0.3s ease-in-out;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
  }

  input:focus {
    border-color: #5f9ea0;
    outline: none;
    box-shadow: 0 4px 8px rgba(95, 158, 160, 0.5);
  }

  input::placeholder {
    color: #888;
    font-style: italic;
  }